@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Viaoda+Libre&display=swap");
:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*
=============== 
Navbar
===============
*/
nav {
  position: sticky;
  top: 0;
  z-index: 10000;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 15px; */
}
.nav-toggle {
  font-size: 1.5rem;
  color: darkgrey;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: #eccdc7;
  transform: rotate(90deg);
}
.nav-logo {
  height: 40px;
  font-size: 28px;
  color: #ffaaaa;
  font-family: "Orbitron", sans-serif;
  padding: 5px;
  border-radius: 5px;
}
.links a {
  position: relative;
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: 0.3s;
  padding: 10px;
}
.links a:hover {
  background: #fde3de;
  padding-left: 1.5rem;
  text-decoration: none;
}

.nav-icons {
  width: 20%;
  display: flex;
  justify-content: space-around;
  color: rgb(70, 66, 66);
}
.nav-icons ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: baseline;
}

.nav-icon {
  position: relative;
  margin-left: 1rem;
}
.nav-icon:hover {
  cursor: pointer;
  color: #fde3de;
}
.nav-icons li span {
  position: absolute;
  top: -10px;
  margin: 0 5px 0 3px;
  color: #fac9bf;
}
.nav-icon-login > .login {
  display: flex;
  flex-direction: column;
  margin: 10px;
  transition: 0.2s;
  visibility: hidden;
  background-color: lightgrey;
  top: -20px;
  margin-left: 20px;
  height: 100px;
  width: 50px;
  position: absolute;
  padding: 10px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  z-index: 1000;
}
.show-container {
  height: 15rem;
}

@media (max-width: 800px) {
  .searchSpace {
    display: none;
  }
  .links-container {
    background-color: rgb(240, 239, 234);
  }
}
@media (min-width: 800px) {
  .nav-container {
    display: flex;
    align-items: baseline;
    overflow: hidden;
    position: sticky;
    top: 0;
  }

  .searchSpace {
    border: none;
    background: rgba(0, 0, 0, 0.1);
    width: 0px;
    transition: 0.4s;
    color: black;
    font-size: 16px;
    height: 25px;
  }
  .nav-icon-search {
    background-color: rgb(70, 66, 66);
    height: 40px;
  }
  .nav-icon:hover > .searchSpace {
    width: 170px;
    height: 20px;
    border: 1px solid #fde3de;
    border-radius: 5px;
    background-color: white;
    font-family: "vioda libre", serif;
    outline: none;
    margin: 2px;
    padding: 10px;
  }

  .nav-icon-login {
    display: flex;
    position: relative;
  }
  .nav-icon-login > .login {
    display: flex;
    flex-direction: column;
    margin: 10px;
    transition: 0.2s;
    visibility: hidden;
    background-color: lightgrey;
    top: -20px;
    margin-left: 20px;
    height: 100px;
    width: 50px;
    position: absolute;
    padding: 10px;
  }
  .nav-icon-login:hover > .login {
    visibility: visible;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 0 0 50px;
    display: flex;
    align-items: baseline;
    padding: 1rem;
    flex: 2;
  }

  .nav-toggle {
    display: none;
  }
  .nav-logo {
    height: 40px;
    border-radius: 5px;
  }
  .links-container {
    height: auto !important;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .links {
    display: flex;
    position: relative;
  }
  .links a {
    margin: 25px;
    font-size: 20px;
    display: inline;
    overflow: hidden;
    text-decoration: none;
  }
}
