@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Viaoda+Libre&display=swap");
:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Viaoda Libre", cursive;
}

/*
=============== 
Navbar
===============
*/
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.nav-toggle {
  font-size: 1.5rem;
  color: darkgrey;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: #eccdc7;
  transform: rotate(90deg);
}
.nav-logo {
  height: 40px;
  font-size: 28px;
  color: #ffaaaa;
  font-family: "Orbitron", sans-serif;
  padding: 5px;
  border-radius: 5px;
}
.links a {
  position: relative;
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: 0.3s;
}
.links a:hover {
  background: #eccdc7;
  padding-left: 1.5rem;
}

.nav-icons {
  width: 20%;
  display: flex;
  justify-content: space-around;
  color: darkgrey;
}
.nav-icons ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: baseline;
}

.nav-icon {
  position: relative;
  margin-left: 1rem;
}
.nav-icon:hover {
  cursor: pointer;
  color: #eccdc7;
}
.nav-icons li span {
  position: absolute;
  top: -10px;
  margin: 0 5px 0 3px;
  color: #eccdc7;
}

.searchSpace {
  display: none;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
/* .links {
  display: flex;
  position: relative;
  justify-content: space-around;
}

.links a {
  font-family: "Viaoda Libre", cursive;
  margin: 0 0.5rem;
  font-size: 20px;
  display: inline;
  overflow: hidden;
} */

@media (min-width: 769px) {
  .nav-container {
    display: flex;
    align-items: baseline;
    overflow: hidden;
    position: sticky;
    top: 0;
  }

  .searchSpace {
    border: none;
    background: rgba(0, 0, 0, 0.1);
    width: 0px;
    transition: 0.4s;
    color: black;
    padding: 5px;
    font-size: 16px;
    height: 25px;
  }
  .search-icon {
    width: 200px;
    height: 20px;
    border: none;
    outline: none;
    margin: 2px;
    padding: 8px;
    display: flex;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 0 0 50px;
    display: flex;
    align-items: baseline;
    padding: 1rem;
    flex: 2;
  }
  .nav-header {
    /* width: 15%; */
  }
  .nav-toggle {
    display: none;
  }
  .nav-logo {
    height: 40px;
    font-family: "Orbitron", sans-serif;
    border-radius: 5px;
  }
  .links-container {
    height: auto !important;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .links {
    display: flex;
    position: relative;
    justify-content: space-around;
  }
  .links li {
    margin: 10px;
  }
  .links a {
    font-family: "Viaoda Libre", cursive;
    margin: 0 0.5rem;
    font-size: 20px;
    display: inline;
    overflow: hidden;
  }
}
